# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
    npm run build
  displayName: 'npm install and build'
  env:
    UNIFORM_API_KEY: $(UNIFORM_API_KEY)
    UNIFORM_PROJECT_ID: $(UNIFORM_PROJECT_ID)

- task: AzureCLI@2
  displayName: 'Upload site to $web'
  inputs:
    azureSubscription: 'dev-nikitam-eastus-rg'     # same ARM service connection
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az storage blob upload-batch \
        --account-name pfgpoc \
        --account-key "$STORAGE_KEY" \
        -s ./out \
        -d '$web' \
        --overwrite \
        --auth-mode key
